<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet'
          href='/stylesheets/style.css'/>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <style>
        img {
            height: 100px;
            width: 100px;
        }
    </style>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
    <!-- loop all the cars -->
    <% for (var i = 0; i < cars.length; i++) { var car = cars[i]; %>
    <div class="panel panel-info">
        <div class="panel-body">
            <table class="table table-condensed table-striped">
                <tbody>
                <!-- loop the car array inputs, splitting on  -->
                <% for (var j = 0; j < car.length; j++) { %>
                <tr>
                    <th>
                        <%= columns[j] %>
                    </th>
                    <td><%= car[j] %></td>
                </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>
    <% } %>
</body>
</html>
